.paginator {
    margin: 10px 250px;
    border: 0px solid gray;
    width: 450px;
    text-align: center;
}

.pageNumber {
    padding: 2px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10%;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    cursor: pointer;
}