.vulcan {
  width: 950px;
  border-radius: 20px;
}

.descriptionBlock {
  padding: 10px;
}

.mainPhoto {
  max-width: 200px;
}

.contact {
  padding-left: 15px;
}

.loadPhoto {
  margin: 5px 0 10px 5px;
}